$open-sans: 'Open Sans', sans-serif;
$arial: 'Arial', sans-serif;
$lato: 'Lato', sans-serif;

// Canvas Dependencies //

@import "dependencies/_bootstrap.scss";
@import "dependencies/_style.scss";
@import "dependencies/_swiper.scss";
@import "../css/font-icons.css";
@import "dependencies/_animate.scss";
@import "dependencies/_dark.scss";
@import "dependencies/_responsive.scss";

// End Canvas Dependencies //

h1 {
  font-family: $arial;
  font-size: 155px;
  line-height:150px;
}

h2 {
  font-family: $open-sans;
  text-transform:none !important;
  font-weight:600 !important;
  font-size: 38px;
  color: #46727C;
  line-height: 40px;
}
h3 {
  font-family:$open-sans;
}
h6 {
  font-family:$open-sans;
}
p {
  font-family:$open-sans;
  margin-bottom:20px;
  font-size:18px;
}
.button {
  background: #EA7F19;
  border-radius: 7px;
  font-family: $lato;
  font-weight:700;
  font-size: 18px;
  color: #FFFFFF;
  text-shadow:none;
  height:51px;
  display:flex;
  max-width:325px;
  align-items:center;
  justify-content:center;
  &:hover {
    text-decoration:none;
    background: #ce7016;
    text-shadow:none;
    color:#FFF !important;
  }
}
.phone-slug {
  a:hover {
    text-decoration:none;
    color:inherit;
  }
}
.button-wrap {
 display:flex;
  justify-content:center;
}




// My Dependencies //

@import "dependencies/_navbar.scss";
@import "dependencies/_slides.scss";
@import "dependencies/_phone-slug.scss";

// End My Dependencies //

