.phone-slug {
  background-image:url('../images/bamboo-cta-bg.jpg');
  background-size:cover;
  background-repeat:no-repeat;
  padding:20px 0;
  text-align:center;
  border-bottom:5px solid #57A5B7;
  border-top:5px solid #57A5B7;
  background-position:50% 50%;
  .row {
    text-align:center;
  }
  .col-sm-12 {
    text-align:center;
  }
  p {
    color: #526E6B;
    margin-bottom:0;
  @media (max-width:480px) {
    font-size:15px;
  }

  }
  .new-hotline-phone {
    font-size: 40px;
    line-height: 35px !important;
    font-family: $lato;
    font-weight: 900;
    margin-bottom: 10px;
    a {
      color: #526E6B;
    }
  }

  .button {
    margin-bottom:10px;
  }
  @media (max-width:991px) {
    background-image: radial-gradient(50% 55%, #FFFFFF 4%, #E0F1F3 65%);
    border-top:0;
    border-bottom:0;
  }
}