.services {
  background-image:url('../images/services/cosmetic.jpg');
  background-size:cover;
  background-repeat:no-repeat;
  height:800px;
  .col-lg-12.center {
    position:relative;
    top:-135px;
  }
  h2 {
    font-weight:900 !important;
    font-size:48px;
    @media (max-width:767px) {
      text-align:left;
      padding:0 15px;
    }
  }
  p {
    font-size:16px;

    a {
      text-decoration:underline;
      color:#5F8801;
    }
  }
  .description-text {
    @media (max-width:767px) {
        text-align:left;
        padding:0 15px;
    }
  }
  h3 {
    font-size:48px;
    font-weight:900;
    color:#46727C;
  }
  .row-2 {
    margin-top:100px;
  }
  @media (max-width:1200px) {
    height:auto;
    background:#E7F3F1;
    .row-2 {
      margin-top:15px;
    }
    .col-lg-12.center {
      position:relative;
      top:0px;
    }
  }
  @media (max-width:991px) {
    h2, h3 {
      font-size:36px;
      margin-bottom:15px;
    }
  }
  @media (max-width:480px) {
    h2 {
      font-size:32px;
    }
    h3 {
      font-size:28px;
      margin-bottom:15px;
    }
  }
}
.services-below {
  img {
    width:100%;
  }
}
.services-two {
  h3 {
    font-size:36px;
    font-weight:900;
    color:#46727C;
    margin-top:20px;
    margin-bottom:10px;
  }
  p {
    font-family:$arimo;
    font-size: 16px;
    color: #424242;
    line-height: 24px;
  }
  .col-1, .col-2 {
    padding:30px;
  }
  @media (max-width:1200px) {
    padding:35px 0;
    .col-1, .col-2 {
      padding:0 10px;
    }
    h3 {
      font-size:32px;
      font-weight:700;
      margin-top:15px;
    }
  }
}

.more-services {
  h2 {
    font-size:44px;
    font-weight:900 !important;
    color:#FFF;
    margin-bottom:20px;
  }
  p {
    font-size:20px;
    color:#FFF;
    margin-bottom:30px;

  }
  background-color:#0F6477;
  #oc-portfolio-2 {
    .owl-nav, .owl-prev, .owl-next {
      opacity: 1 !important;
      top: 42%;
      background: #92C717;
      font-weight: 900;
      font-family: $open-sans;
      display: flex;
      color:#FFF;
      justify-content: center;
      align-items: center;
      font-size: 30px;
      &:hover {
        color:#FFF !important;
        background:#92C717 !important;
      }
    }
  }
  h4 {
    font-weight:600;
    color:#FFF;
    margin-top:20px;
    margin-bottom:0;
    font-size:24px;
    &:hover {
      text-decoration:underline;
      cursor:pointer;
    }
  }
  @media (max-width:768px) {
    h2 {
      font-size:36px;
      margin-bottom:15px;
    }
  }
  @media (max-width:480px) {
    h2 {
      font-size:32px;
      margin-bottom:10px;
    }
    p {
      font-size:16px;
    }
    h4 {
      font-size:18px;
    }
  }

}
