.slide-1 {
  background-image:url('../images/slide-1.jpg');
  background-size:cover;
  background-repeat:no-repeat;
  background-position:100% 100% !important;
  h1 {
    color: #92C717;
    margin-bottom:50px;
  }

  h2 {
    color:#FFF !important;
    margin-bottom:0;
  }
  .we-love {
    margin-bottom:5px;
  }
  p {
    font-family: $open-sans;
    font-weight:700;
    font-size: 24px;
    color: #FFFFFF;
    margin-bottom:20px;
  }
  @media (max-width:1200px) {
    background-position:75% 100% !important;
    .slider-caption {
      margin-top:-90px;
    }
  }

}

#slider, .swiper-container, .swiper-slide {
  max-height:800px;
}